*{
	padding:0px;
	margin:0px;
	font-size:12px;
	color: #522a06;
	font-family: "宋体";
	/*overflow: hidden;*/
}
body{
	background-image: url(../images/bodybg.jpg);
	background-repeat: repeat;
	overflow-x: hidden;

}
img{border: none;}
ul{list-style:none;}
a{text-decoration: none}
a:hover{text-decoration: underline;
color: #ff6633;}
.clear{clear: both;}

#header{
	width: 100%;
	height: 100px;
	background-color: #f6f6f6;
}
.head1{
	width: 1000px;
	margin: 0px auto;
}
.logo{
	width: 250px;
	height: 85px;
	float: left;
}
/*.logo{
	width: 1000px;
	height: 85px;
	margin: 0px auto;
	}*/

	/*margin-left: 10px;
	margin-top: 5px;*/

.sou{
	width: 600px;
	float: right;
	margin-top: 30px; 	
}
.sou1{
	width: 350px;
	height: 38px;
	border: 1px solid #66ccff;
	background: #f6f6f6
}

.sou2{
	width: 80px;
	height: 38px;
	margin-left: -5px;
	border: 1px solid #66ccff;
}
.sou3{
	width: 80px;
	height: 38px;
	margin-left: -5px;
	border: 1px solid #66ccff;
}

/*.sou1{
	width: 350px;
	height: 38px;
	margin:50px -6px  10px 360px;
	border: 1px solid #66ccff;
	background: #f6f6f6
}
.sou2{
	width: 80px;
	height: 38px;
	margin-left: 0px;
	border: 1px solid #66ccff;
}*/

/*导航条*/
.menu{
	width: 100%;
	background-color:#61d3ed ;
	height: 30px;
	border: 1px solid #61d3ed;

}
.menu ul{
 	width: 1000px; 
 	margin:0px auto; 
 	padding:0px;/*为保证在ＩＥ浏览器中的兼容性*/
	/*overflow: hidden;为保证在火狐浏览器中的兼容性*/
	
 }
.menu ul li{
	float: left;
	text-align: center;
	width: 120px;
	height: 30px;
	line-height: 30px;	
	border: 1px solid #61d3ed;
}
.menu ul li a{
	display: block;
	color: #fff;	
	font-size: 20px;
	text-align: center;
	
}
.menu ul li a:hover{
	font-weight: bold;
	color: #C8DAFF;
	
}
.menu ul li ul{
	display: none;
	margin:0px;
	width: 120px;
}
.menu ul li:hover ul{
	display: block;
	position: relative;
	left: 0px;
	top: 0px;	
}
.menu ul li:hover ul li a {
	background: #C8DAFF;
	font-size: 16px; 
	color: #6666ff;
}
.menu ul li:hover ul li a:hover {
	background: #61d3ed;
	color: #000066;
}

.banner {
	width: 100%;
	height: 400px;
	text-align: center;
	
}




/*页面中部*/

#content{
	width: 1000px;
	margin:0px auto;
		
}
.lianjie a{
	display: block;
	float: left;
	font-size: 12px;
	margin-left: 10px;
	margin-bottom: 5px;
}
.more{float: right;
	margin-right: 20px;}
.top{
	width: 1000px;
	overflow: hidden;
	margin-top: 10px;

}
.top_left{
	width: 672px;
	height: 450px;
	float: left;
	border: 1px solid #66ccff ;
	border-radius:10px;
}
.top_left img{
	width: 666px;
	height: 440px;
	margin:5px 4px;
}
.top_left img:hover{
	opacity:0.7;
}

.top_right{
	width: 300px;
	height: 450px;
	float: left;
	border: 1px solid #66ccff;

}

.top_right .text a{

	display: block;
	padding-top:20px;
	padding-left: 10px;
	font-size: 24px;
	font-weight: bold;
	line-height: 30px;
}

.top_right .text2{
	padding-top:25px;
	padding-left: 14px;
	font-size: 10px;
	line-height: 16px;
	color: #505050;
}
.top_right .money{
	font-size: 24px;
	font-weight: bold;
	color:#e80000;
	padding-left: 14px;
	padding-top: 20px;
}


.middle{
	width: 1000px;
	overflow: hidden;
	margin-top: 10px;

}
.middle_left{
	width: 672px;
	height: 450px;
	float: left;
	border: 1px solid #ccc;
}

.middle_right{
	width: 300px;
	height: 450px;
	float: left;
	border: 1px solid #ccc;
}


input{
/*
	width: 100px;*/
	margin-top: 5px;
	height: 20px;
	background-color: #b7f0ea;

}

.middle_left p,.middle_left legend{
	font-size: 20px;
}


.middle_left span{
	font-size: 20px;
}
.middle_right .money {
	margin-top:10px;
	margin-left: 10px;
	float: left;

}
.middle_right .shuoming{
	font-size: 20px;
	/*font-weight: bold;*/
	float: left;
	margin-top: 25px;
	margin-left: 20px;
}
.money_text{
	line-height: 28px;
	font-size: 14px;
	color:  #505050;
	margin-left: 10px;
	margin-top: 10px;
}
 .find {
	display: block;
	margin-top:10px;
	margin-bottom :10px;
	font-size: 18px;
	font-weight: bold;
	float: left;
	width: 550px;
}
.or{
	display: block;
	float: left;
	font-size: 18px;
	/*font-weight: bold;*/
	margin-top:10px;
}
.ping{
	width: 200px;height: 30px;
	font-size: 20px;
	padding-top: 12px;
}
.lun{
	width: 672px;
	height: 450px;
	float: left;
	border: 1px solid #ccc;
}
.lun1{
	width: 672px;
	height: 200px;
	float: left;
	border: 1px solid #ccc;
}
.jiao input{
	display: block;
	width: 70px;
	height: 40px;
	margin-left: 600px;
	margin-top:200px;
	font-size: 18px;

}
/*页脚*/
.footer {
	clear: both;
	width:100%;
	background-position:center;	
	padding:30px 0 0 0;
	text-align:center;
	height:105px;
	margin-top: 60px;

	}
.footer p{
	margin-top:10px;
	}
.footer p a{ font-size:12px; text-decoration:none;}